@import '../../../../styles/functions.scss';

.arrivals {
  margin: pxToRem(88) pxToRem(49);
  

  h3 {
    margin-left: pxToRem(40);
    font-size: pxToEm(32);
    font-weight: 700;
    line-height: pxToRem(38);
    letter-spacing: -0.02em;
    color: #000429;
  }

  &__content {
    display: flex;
    margin-top: pxToRem(48);
    justify-content: center;
    border-radius: pxToRem(8);

    &__filter {
      height: pxToRem(663);
      min-width: calc( pxToRem(242.75 - 32 - 12 - 5));
      border-radius: pxToRem(12);
      background: #f5f7fa;
      margin-right: pxToRem(5);
      padding: pxToRem(32);

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: pxToRem(48);
        h4 {
          font-size: pxToEm(16);
          font-weight: 600;
          line-height: pxToRem(19);
          letter-spacing: -0.02em;
          color: #000429;
        }

        button {
          font-size: pxToEm(14);
          font-weight: 600;
          line-height: pxToRem(17);
          letter-spacing: -0.02em;
          color: #0069e0;
        }
      }

      &__categories {
        h5 {
          font-size: pxToEm(14);
          font-weight: 600;
          line-height: pxToRem(17);
          letter-spacing: -0.02em;
          color: #000429;
          margin-bottom: pxToRem(25);
          span {
            display: none;
          }
        }

        &__item {
          display: flex;
          align-items: center;
          margin-bottom: pxToRem(24);
          p {
            font-size: pxToEm(14);
            font-weight: 600;
            line-height: pxToRem(17);
            letter-spacing: -0.02em;
            color: #8a91a8;
            margin-left: pxToRem(17);
          }
        }
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: pxToRem(5);
    }
  }

  &__load {
    margin: pxToRem(48) 0 0 54%;
    height: pxToRem(48);
    padding: pxToRem(16);
    font-weight: 600;
    font-size: pxToEm(14);
    border-radius: pxToRem(4);
    border: 1px solid #f5f7fa;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #8a91a8;

    svg {
      margin-left: pxToRem(16);
      path {
        stroke: #8a91a8;
      }
    }
  }

  &__end {
    font-size: pxToEm(14);
    font-weight: 600;
    line-height: pxToEm(20);
    letter-spacing: -0.02em;
    color: #8a91a8;
    margin: pxToRem(54) 0 0 55%;
  }
  
  @media (max-width: 1250px) {
    &__content {
      flex-direction: column;
      &__filter {
        height: fit-content;
        margin-bottom: pxToRem(40);
        margin-right: 0;
        &__categories {
          h5 {
            display: flex;
            span {
              display: block;
              margin-left: pxToRem(10);
              svg{
                width: pxToRem(15);
              }
            }
          }
          &__item{
            display: none;
          }
        }
      }
      &__cards{
        margin-left: 0;
      }
    }
    &__load{
      margin: pxToRem(48) auto;
    }
    &__end{
      margin: pxToRem(54) auto;
      text-align: center;
      
    }
    .active{
      display: flex;
    }
  }
  
  @media (max-width: 1000px) {
    &__content{
      &__cards{
        grid-template-columns: auto;
      }
    }
  }
  
  @media (max-width: 600px) {
    margin: pxToRem(48) 0;
    
    &__content{
      padding: 0 pxToRem(20);
    }
  }
  @media (max-width: 480px) {
    h3{
      margin: 0;
    }
    &__content{
      padding: 0 ;
    }
  }
}
