@import "../../../../styles/functions.scss";

.customers {
  margin: 0 pxToRem(80) pxToRem(103);
  text-align: center;
  margin-bottom: pxToRem(103);
  h3 {
    font-size: pxToEm(56);
    font-weight: 700;
    line-height: pxToRem(72);
    letter-spacing: -0.02em;
    width: pxToRem(780);
    margin-bottom: pxToRem(64);
  }
  &__wrapper{
  background-color: aquamarine;
}
@media (max-width: 1250px) {
  h3{
    width: 100%;
    font-size: pxToEm(40);
  }
}
@media (max-width: 768px) {
  
  margin: 0 0 pxToRem(80) ;
}


}
