@import '../../../../styles/functions.scss';

.top {
  margin-top: pxToRem(96);
  padding: pxToRem(25) pxToRem(40);
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    h3 {
      width: pxToRem(601);
      font-size: pxToEm(64);
      font-weight: 700;
      line-height: pxToRem(77);
      letter-spacing: -0.02em;
      margin-bottom: pxToRem(32);
    }

    p {
      font-size: pxToEm(14);
      font-weight: 600;
      line-height: pxToRem(20);
      letter-spacing: -0.02em;
      width: pxToRem(323);
      margin-bottom: pxToRem(48);
    }

    button {
      background: #0069e0;
      font-size: pxToEm(14);
      font-weight: 600;
      line-height: pxTorem(17);
      letter-spacing: -0.02em;
      background: #ffffff;
      box-shadow: 4px 4px 0px 0px #5ca5ff;
      height: pxToRem(49);
      width: pxToRem(168);
      border-radius: pxToRem(4);
    }

    &__leftslash {
      position: absolute;
      top: 1%;
      left: 1%;
    }
    &__rightslash {
      position: absolute;
      top: 1%;
      right: 1%;
      svg {
        transform: rotate(90deg);
      }
    }
  }
  &__credit {
    position: absolute;
    right: 0;
    bottom: pxToRem(24);
  }
  &__amazon {
    position: absolute;
    left: 0;
    bottom: pxToRem(24);
  }
  
  @media (max-width: 900px) {
    padding: 0 pxToRem(10);
    &__content {
      h3{
        padding: 0 pxToRem(40) ;
      }
    }
    
    &__amazon, &__credit {
    svg{
      width: pxToRem(200)
    }
  }
  }
  @media (max-width: 768px) {
    &__content {
      height: inherit;
      margin-top: pxToRem(160);
      justify-content: flex-start;
      h3 {
        width: 100%;
        font-size: pxToEm(44);
        line-height: pxToRem(67);
      }
    }
    &__credit,
    &__amazon {
      svg {
        width: pxToRem(140);
      }
    }
  }
  @media (max-width: 600px) {
    &__content {
      h3{
        font-size: pxToEm(30);
        line-height: pxToRem(47);

      }p{
        width: 100%;
      }
    }
  }
  
  @media (max-width: 425px) {
    padding: 0;
  }
  
  @media (max-width: 320px) {
    &__content {
      h3{
        line-height: pxToRem(37);
  
      }
    }
        &__credit,
        &__amazon {
          svg {
            width: pxToRem(100);
      }}
    
  }
}
