@import "../styles/functions.scss";

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav, footer, &__children{
     max-width: 1440px;
    width: 100%;
  }
}
